node_modules
dist
dist-ssr
*.log
npm-debug.log*
.env
.env.production
.env.local
server/.env
render_env_secrets.txt
.git
.gitignore
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
README.md
